*{
    margin: 0;
    padding: 0;
}

h1{
    color: blue;
}

.container{
    text-align: center;
    color: red;
}

#addNames{
    text-align: center;
    display: none;
    color: rgb(0, 255, 98);
    display: flex;
}

#addMenNames{
    display: none;
}

#addWomenNames{
    display: none;
}

#dispMenNames{
    display: none;
    text-align: center;
}

#dispWomenNames{
    display: none;
    text-align: center;
}

#addMenPrefer{
    display: none;
    text-align: center;
}

#addWomenPrefer{
    display: none;
    text-align: center;
}

#resultBtn{
    /* display: none; */
    text-align: center;
    background-color: blueviolet;
}
